<div class="container">
    <h1 class="mt-5">Chào mừng đến với trang quản lý!</h1>
    <p>Xin chào, <strong id="username">{{User.username}}</strong></p>

    <div class="mt-4">
        <h2>Thông tin người dùng</h2>
        <ul class="list-group">
            <li class="list-group-item"><strong>Tên người dùng:</strong> <span id="user-username">{{User.username}}</span></li>
            <li class="list-group-item"><strong>Email:</strong> <span id="user-email">{{User.email}}</span></li>
            <li class="list-group-item"><strong>Số điện thoại:</strong> <span id="user-telephone">{{User.telephone}}</span></li>
            <li class="list-group-item"><strong>Vai trò:</strong> <span id="user-role">{{User.role}}</span></li>
        </ul>
    </div>

</div>


