<div class="container mt-5">
    <h1 class="mb-4">Danh sách Người Dùng</h1>

    {{#if users}} <!-- Kiểm tra nếu có người dùng -->
    <table class="table table-bordered table-striped">
        <thead class="table-light">
            <tr>
                <th scope="col">Tên người dùng</th>
                <th scope="col">Email</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Vai trò</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}} <!-- Lặp qua tất cả người dùng -->
            <tr>
                <td>{{this.username}}</td>
                <td>{{this.email}}</td>
                <td>{{this.telephone}}</td>
                <td>{{this.role}}</td>
                <td>
                       <!-- Nút sửa -->
                    <a href="/news/{{this._id}}" class="btn btn-warning">Sửa</a>
                    <!-- Nút xóa, sử dụng method-override để làm cho nó hoạt động như DELETE -->
                    <form action="/newDelete/{{this._id}}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
        <p>Không có người dùng nào trong hệ thống.</p>
    {{/if}}
</div>
